<!DOCTYPE html> 
<html> 
<head> 
	<title>Home Page</title> 

	<style type="text/css" media="screen"> 
		 
	</style> 
</head> 

<body> 
	<center>This is our home page.</center> 
	Title : <%= title%>
</body> 
</html>
