body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.submi-bit{
  padding-top: 20px;
  padding-bottom: 20px;
}
form {
  padding-top: 20px;
  margin: 0 auto;
  width: 40%;
}